<?xml version="1.0"?>

<!--

/**
 * Newsletters subscribers API Extension
 *
 * @category   Rapidmail
 * @package    Rapidmail_RMConnect
 */

-->

<config>
    <modules>
        <Rapidmail_RMConnect>
            <version>1.5.1</version>
        </Rapidmail_RMConnect>
    </modules>
    <global>
        <models>
            <rmconnect>
                <rewrite>
                    <newsletter_api_v2>Rapidmail_RMConnect_Model_Newsletter_Api_V2</newsletter_api_v2>
                    <catalog_api_v2>Rapidmail_RMConnect_Model_Catalog_Api_V2</catalog_api_v2>
                    <version_api_v2>Rapidmail_RMConnect_Model_Version_Api_V2</version_api_v2>
                </rewrite>
            </rmconnect>
        </models>
        <helpers>
            <rmconnect>
                <class>Rapidmail_RMConnect_Helper</class>
            </rmconnect>
        </helpers>
    </global>
</config>
